[tool.poetry]
name = "compmec-nurbs"
version = "0.2.3"
description = ""
authors = ["Carlos Adir <carlos.adir@gmail.com>"]
packages = [{ include = "compmec/nurbs", from = "src" }]

[tool.poetry.dependencies]
python = "^3.7"

[tool.poetry.dev-dependencies]
pytest = "^5.2"

[tool.poetry.group.dev.dependencies]
pre-commit = "^2.20.0"
scriv = {extras = ["toml"], version = "^0.17.0"}

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
